@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Square+Peg&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ms Madi', cursive;
    font-family: 'Square Peg', cursive;
    transition: all 0.3s linear;
}

.header {
    width: 100%;

}

.nav {
    width: 100%;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2% 6%;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 190%;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f2bad5;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

#text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text div {
  flex-flow: wrap row;
}

#text h1 {
    color: #fff;
    text-decoration: none;
    font-size: 150%;
}

#text h2 {
    color: #fff;
    text-decoration: none;
    font-size: 130%;
}

#text h3 {
    color: #fff;
    text-decoration: none;
    font-size: 130%;
}


body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(30 30 30 / 85%), rgba(28 26 26 / 85%)), url("food.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

